.container-one img{
    position: absolute;
    right: 0;
}
@media (max-width: 768){
    .container-one img{
        position: absolute;
        right: 0;
    }
}
.text-one{
    position: absolute;
    top: 45%;
    left: 30%;
    transform: translate(-50%, -50%);
    width: 40%;
    @media (max-width: 768px){
        width: 100%;
        text-align: center;
        left: 50%;
    }
}
.text-one h2{
    font-size: 3rem;
    font-weight: bold;
    @media (max-width: 768px){
        font-size: 2rem;
    }
}

.text-one a{
    text-decoration: none;
    color: var(--white);
    background-color: var(--primary-color);
    padding: 1rem 2rem;
    border-radius: 2rem;
    font-size: 1.2rem;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    &:hover{
        background-color: var(--red);
    }
    @media (max-width: 768px){
        font-size: 1rem;
    }
}