.header-main{
    background-color: var(--primary-color);
}
.tittle-header{
    font-size: 2.2rem;
    font-weight: bold;
}

.header-main img {
    width: 220px;       
}
@media (max-width: 768px) {
    
    .header-main img {
        width: 130px;       
    }
}